.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #005f8b;
}


#bad {
  color : #FE0E00;
}

#belowAverage {
  color : #FE7903;
}

#average {
  color : #FFC71F;
}
#aboveAverage {
  color : #44B300;
}

good {
  color : #318000;
}

veryGood {
  color :#02C9B3;
}
unicum {
  color :#D042F3;
}

superUnicum {
  color : #A00DC5;
}